#backToTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    background-color: #7e57c2;
    color: white;
    border: none;
    padding: 12px 16px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

#backToTop:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #5e35b1;
    transform: scale(1.05);
    transition: all 0.3s ease;
}